<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configuration.Xml" version="2.0.0.0" targetFramework="net40" />
  <package id="Data.DBConnector" version="2.6.2.0" targetFramework="net40" />
  <package id="Data.Json" version="1.0.0.0" targetFramework="net40" />
  <package id="Data.Notifications" version="1.2.3.0" targetFramework="net40" />
  <package id="Development.Log4Me" version="1.2.0.0" targetFramework="net40" />
  <package id="Framework.Configuration" version="1.2.0.0" targetFramework="net40" />
  <package id="Framework.Core" version="1.1.0.0" targetFramework="net40" />
  <package id="Framework.Extensions" version="1.0.0.0" targetFramework="net40" />
  <package id="PostSharp" version="4.3.16" targetFramework="net40" />
  <package id="Util.Core" version="1.0.0.0" targetFramework="net40" />
  <package id="Util.FileMonitor" version="1.0.2.1" targetFramework="net40" />
  <package id="Util.Object" version="1.0.2.0" targetFramework="net40" />
</packages>